<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <center>
        <h1> nested if</h1>
             {% if a > b > c%}
                    {% if a > d %}
                       {{a}}
                    {%else%}
                    {{d}}
                    {% endif %}
            {% elif b > c and b > d%}
               {{b}}
            {% elif c > d %}
              {{c}}
            {% else %}
              {{d}}
            {% endif%}
      </center>
</body>
</html>